
body{ font: 25px Georgia, serif; 
    background-color: rgb(63, 9, 65);

}
 
#page-wrap { width: 500px; margin: 0 auto;}
 
h1  { margin: 35px 0; font: 35px Georgia, Serif; text-transform: uppercase; letter-spacing: 3px; }
 
#quiz input {
    vertical-align: middle;
}
 
#quiz ol {
   margin: 0 0 20px 20px;
}
 
#quiz ol li {
   margin: 0 0 20px 0;
}
 
#quiz ol li div {
   padding: 4px 0;
}
 
#quiz h3 {
   font-size: 30px; margin: 0 0 5px 0; color: rgb(99, 60, 89);
}
 
label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    background-color: rgba(226, 148, 216, 0.973);
}

.card-body {
   max-height: fit-content;
   background-color: white;
   width: 400px;
}

.card-bottom {
   width: 400px;
   height: 230px;
   background-repeat: no-repeat;
}

#card_q1 {
   background-image: url("Quiz 1.jpeg");
   background-size: 100%;
}
#card_q2 {
   background-image: url("Quiz 2.jpg");
   background-size: 100%;
}
#card_q3 {
   background-image: url("Quiz 3.jpg");
   background-size: 100%;
}
#card_q4 {
   background-image: url("Quiz 4.jpeg");
   background-size: 100%;
}
#card_q5 {
   background-image: url("Quiz 5.jpg");
   background-size: 100%;
}
#card_q6 {
   background-image: url("Quiz 6.jpeg");
   background-size: 100%;
}
#card_q7 {
   background-image: url("Quiz 7.jpeg");
   background-size: 100%;
}
#card_q8 {
   background-image: url("Quiz 8.jpeg");
   background-size: 100%;
}
#card_q9 {
   background-image: url("Quiz 9.jpeg");
   background-size: 100%;
}
#card_q10 {
   background-image: url("Quiz 10.jpeg");
   background-size: 100%;
}
