
body{ font: 14px Georgia, serif; 
    background-color: rgb(192, 236, 236);

}
 
#page-wrap { width: 500px; margin: 0 auto;}
 
h1  { margin: 25px 0; font: 18px Georgia, Serif; text-transform: uppercase; letter-spacing: 3px; }
 
#quiz input {
    vertical-align: middle;
}
 
#quiz ol {
   margin: 0 0 10px 20px;
}
 
#quiz ol li {
   margin: 0 0 20px 0;
}
 
#quiz ol li div {
   padding: 4px 0;
}
 
#quiz h3 {
   font-size: 17px; margin: 0 0 1px 0; color: #666;
}
 
#results {
    font: 44px Georgia, Serif;
}

#q1 {
   background-image: url("wheel.jpg");
   background-repeat: no-repeat;
   width: 350px;
}

#q2 {
   background-image: url("vert.jpg");
   background-repeat: no-repeat;
}

#q3 {
   background-image: url("olymp.jpg");
   background-repeat: no-repeat;
}