h1, h2, h3, h4, .question, input {                          /*center text*/
    text-align: center;
}

body, h1, h2, h3, h4, li, ol, ul, .question {               /*standard borders; custom borders specfied below*/
    border: solid;
    border-width: 3px;
    border-color: black;
    margin: 2%;
}

h3, li, ol, ul, .question {                                 /*small padding */
    padding: 2%;
}

h1, h2, h3, h4, input {                                     /*boldify*/
    font-weight: bold;
}

div {                                                       /*DONT MESS WITH ME!*/
    padding: 5% 28% 5% 28%;
}

#page-wrap {                                                /*hopefully phone sized*/
    width: 40%;
}

body {
    background-color: #0827F5;
    border-radius: 200px;
    border-width: 30px;
}

h1 {
    font-size: 45px;
    color: fuchsia;
    background-color: springgreen;
    border-radius: 25px;
    border-width: 10px;
    padding: 7%;
}

h2 {
    font-size: xx-large;
    color: #f5ff00;
    background-color: #be03fd;
    border-radius: 15px;
    padding: 4%;
}

h3 {
    font-size: x-large;
    color: #01fe01;
    background-color: #ff073a;
    border-radius: 8px;
}

h4 {
    font-size: x-large;
    border: 0;
}

li {
    background-color: #40A4FF;
    border-radius: 15px;
}

ol, ul {
    background-color: orange;
    border-radius: 25px;
    border-width: 5px;
}

.question {
    background-color: yellow;
    border-radius: 8px;
    border-width: 2px;
}

label {
    background-color: #8c00fc;
    font-size: large;
}

input {
    background-color: hotpink;
    font-size: xx-large;
    padding: 30px 150px 30px 150px;
}